<div class="info">
  <div>
    <label>Arquivo</label><br>
    <div title="{{name}}" class="name">{{name}}</div>
  </div>

  <div>
    <label>Links</label>
    <ul>
      <li><a target="_blank" href="{{url}}">Arquivo</a></li>
    </ul>
  </div>
</div>
