<div class="img-wrapper">
  <img src="{{url}}" alt="{{alt}}" />
</div>
<div class="info">
  <div>
    <label>Arquivo</label><br>
    <div title="{{name}}" class="name">{{name}}</div>
  </div>

  <div>
    <label>Links</label>
    <ul>
      <li><a target="_blank" href="{{url}}">Original</a></li>
    {{#each sizes}}
      <li>
        <a target="_blank" href="{{lookup ../this @key}}">{{@key}}
          {{#if this}}({{this}}){{/if}}</a>
      </li>
    {{/each}}
    </ul>
  </div>
  <div>
    <label>Legenda</label>
    <fieldset>
      <input type="text" value="{{alt}}" placeholder="Legenda da Imagem" class="form-control alt">
      <a data-btn-update="{{id}}">
        <i class="fa fa-save"></i>
      </a>
    </fieldset>
  </div>
</div>
