/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

#mediadrawer {

  .modal-dialog {
    width: 95%;
  }

  ul {
    list-style: none;
    padding: 0px;
  }

  .sidebar-wrapper {
    padding: 15px 8px;
    color: #0a0a0a;
    width: 180px;
    float: left;

    li {
      padding: 2px 0px;
      width: 150px;

      i {
        margin-right: 8px;
      }

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    li.active {
      font-weight: bold;
    }
    .folder-menu{
      overflow-y: scroll; 
      height: 365px;
      a[data-remove]{
        float:right;
        display: none;
        cursor:pointer;
      }
    }
    @media (min-height: 650px) {
      .folder-menu{
        height: 405px;  
      }
    }

    @media (min-height: 710px) {
      .folder-menu{
        height: 450px;  
      }
    }

    @media (min-height: 760px) {
      .folder-menu{
        height: 490px;  
      }
    }

    @media (min-height: 810px) {
      .folder-menu{
        height: 550px;  
      }
    }

    @media (min-height: 860px) {
      .folder-menu{
        height: 590px;  
      }
    }

    @media (min-height: 910px) {
      .folder-menu{
        height: 650px;  
      }
    }

  }

  .tab-content {
    border-left: 2px solid #428BCA;
    margin-left: 180px;
    margin-top: 15px;
  }

  .tab-pane {
    padding: 0px 20px 20px 20px;
  }

  .img-thumbnail {
    width: 100%;
  }

  .thumbnails {
    padding: 0px;

    li {
      width: 110px;
      height: 110px;
      margin: 0px;
      padding: 0px;
      overflow: hidden;

      @media (min-width: 768px) {
        width: 140px;
        height: 140px;
      }

      @media (min-width: 992px) {
        width: 160px;
        height: 160px;
      }

      @media (min-width: 1200px) {
        width: 180px;
        height: 180px;
      }

      img {
        width: 100%;
      }
      a[data-remove] {
        position: absolute;
        bottom: 0px;
        right: 0px;
        font-size: 20px;
        background-color: rgba(180, 180, 180, 0.8);
        padding: 5px 10px;
        color: #000;
        cursor:pointer;
        display: none;
        i {
          font-size: 20px;
          margin: 0;
        }
      }
    }

    li.active {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border: 4px solid #428BCA;
    }
  }

  .file-thumb {
    text-align: center;
    background-color: #f0f0f0;
    i {
      font-size: 60px;
      margin: 20px 0px 4px 0px;
    }
    div {
      font-size: 1rem;
      width: 100%;
      padding: 0px 8px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space:nowrap;
    }

    @media (min-width: 768px) {
      i {
        margin: 25px 0px 10px 0px;
      }
      div {
        font-size: 1.2rem;
      }
    }

    @media (min-width: 992px) {
      i {
        font-size: 90px;
        margin: 20px 0px 10px 0px;
      }
      div {
        font-size: 1.3rem;
      }
    }

    @media (min-width: 1200px) {
      i {
        margin: 35px 0px 14px 0px;
      }
    }
  }

  .open-panel {
    .info-panel {
      display: block !important;
    }
  }

  #md-files {
    .files-container, .info-panel {
      height: 300px;
      overflow-y: scroll;
      overflow-x: hidden;
      a[data-btn-update]{
        float:right;
        color:#000;
        cursor:pointer
      }
      fieldset {
        position: relative;

        input {
          padding-left:5px !important;
          padding-right: 30px !important;
        }
        a {
          position: absolute;
          right: 10px;
          top:5px;
          font-size: 15px;
        }
      }
    }

    @media (min-height: 650px) {
      .files-container, .info-panel  {
        height: 340px;
      }
    }

    @media (min-height: 710px) {
      .files-container, .info-panel  {
        height: 400px;
      }
    }

    @media (min-height: 760px) {
      .files-container, .info-panel  {
        height: 440px;
      }
    }

    @media (min-height: 810px) {
      .files-container, .info-panel  {
        height: 500px;
      }
    }

    @media (min-height: 860px) {
      .files-container, .info-panel  {
        height: 540px;
      }
    }

    @media (min-height: 910px) {
      .files-container, .info-panel  {
        height: 600px;
      }
    }

    .info-panel {
      display: none;
      float: right;
      width: 240px;

      @media(min-width: 1300px) {
        width: 300px;
      }

      @media (max-height: 300px) {
        .img-wrapper {
          display: none;
        }
      }

      @media (max-height: 800px) {
        font-size: 1.2rem;
      }

      .img-wrapper {
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .info {
        margin-top: 10px;
      }

      .info > div {
        margin: 5px auto;
        padding: 8px;
        background-color: #fafafa;
      }

      .file-thumb {
        padding: 80px inherit;
        height: 240px;
        margin: 0px;
        i {
          font-size: 90px;
          margin: 0px;
        }
        div {
          font-size: 1.3rem;
        }
      }

      .name {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  .btn {
    padding: 6px 14px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #afafaf;
    color: #0a0a0a;
    border-radius: 0px;
    box-shadow: none;
    outline: 0px auto -webkit-focus-ring-color;
  }

  .btn.btn-primary {
    border-bottom: 2px solid #2e618d;
  }

  .btn.active, .btn:focus {
    border-bottom: 2px solid #428BCA;
  }

  .btn:hover {
    border: none;
    border-bottom: 2px solid #418BCA;
  }

  .filter-actions {
    width: 100%;
    padding: 2px;
    margin-bottom: 6px;

  }

  .nav.nav-tabs {

    li > a {
      border: none;
      border-bottom: 2px solid #afafaf;
      color: #0a0a0a;
    }

    li > a:hover {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #418BCA;
    }

    li.active > a {
      background-color: transparent;
      border-bottom: 2px solid #428BCA;
    }
  }

}
